@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes floatUp {
  0% {
    transform: translateY(100vh); /* Start from the bottom of the page */
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh); /* End at the top of the page */
    opacity: 0;
  }
}

.animate-float {
  animation: floatUp 8s linear infinite;
}
